* {
    margin: 0;
}

body {
    background-color: #202124;
    display: flex;
    flex-direction: column;
    height: 1em;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}

.header a {
    margin-right: 20px;
    text-decoration: inherit;
    color: rgba(214, 200, 200, 0.87);
    font-size: 15px;
}

.header a:hover {
    text-decoration: underline;
}
.header-right {
    display: flex;
    margin-left: auto;
    min-width: 13vw;
    justify-content: space-between;
  }
  
  .header-right .header-apps {
    margin-right: 10px;
  }
  /* Main Body */

.main-body {
    flex: 1;
    display: flex;
    margin-top: 12%;
    flex-direction: column;
  }
  
  .main-body img {
    object-fit: contain;
    height: 100px;
  }
  
  /* search */
  .search-input {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 30px;
    padding: 10px 20px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 560px;
  }

  .inp{
    background-color: #202124;
  
  }
  
  .search-input input {
    flex: 1;
    padding: 10px 20px;
    border: none;
    outline: none;
  }
  
  .search-input .material-icons {
    color: gray;
  }
  
  .search-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;

  }
  
  .search-buttons button {
    margin: 5px;
    padding: 10px 15px;
    background-color: #303134;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 10%; 
  }